<!DOCTYPE PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--
    <?xml version="1.0"?>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg">  
   <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
-->
<html>

<head>
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
    body {
      margin: 0px;
      padding: 0px;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  %%include%%: fonturls

  <script type="text/javascript">
    var mondriaStartDate = new Date();
    var profileParameters_str = "!PROFILE_APP_PARAMETERS!";
    var packageParameters_str = "!PACKAGE_APP_PARAMETERS!";
  </script>

  %%include%%: "feg.includeList.js"
  %%include%%: <scripts/feg/js/utils/interactiveMode.js>

    <script type="text/javascript">
      window.onload = mondriaOnloadInitializations;
      function mondriaOnloadInitializations()
      {
        mondriaOnLoadDate = new Date();
        console.log('Time to onload=' +
          (mondriaOnLoadDate.getTime() - mondriaStartDate.getTime()) + 'ms');
      
        initializeModeDetection();
        main();
      }
    </script>

    <title>%%title:()%%</title>

</head>

<body style="overflow: hidden;">

  <div id="mondriaSplashScreenBackground" style="background-color:#efefde; top: 0px; left: 0px; width: 100%; height: 100%; z-index:2000000002;">
    <div id="mondriaSplashScreenDiv" style="position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0; z-index:2000000002; width:250px; height: 250px; text-align: center;">
      <img id="mondriaSplashScreenLogo" src="%%image:(cdl/core/design/img/MondriaLogoAlphaNoCircle.svg)%%" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;">        
      <span id="mondriaSplashScreenText" style="font-family:Roboto; color:darkgray; position:absolute; top:65%; transform: translateX(-50%);">Initializing</span>
      <img id="mondriaSplashScreenDots" src="%%image:(cdl/core/design/img/three_dots_animation/three_dots_0.svg)%%" style="position: absolute; top: 60%; transform: translateX(-50%); width: 20%; height: 20%;">    
    </div>
  </div>


  <div id="mondriaTaskRunningDiv" hidden=true style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index:2000000001; background-color: #e0e0e8; transition: opacity 4s;">
    <img id="mondriaTaskSpinnerElt" src="%%image:(cdl/core/design/img/hourglass.svg)%%" style="position: absolute; top: 45%; left: 45%; width: 50px; height: 50px;">
  </div>

  %%include%%: source
  %%include%%: foreign
  %%include%%: <scripts/feg/functionExecute.postlude.js>

  <div id="mondriaRootDiv" style="overflow: hidden; transition: opacity 4s;"></div>

</body>

</html>
